.header {
  padding: 10px 0;
}

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  color: #ff512f;
  text-decoration: none;
  padding-right: 10px;
  font-size: 10px;
}

.nav a:hover{
  color: #b1290e;
}

.nav-hover {
  padding-bottom: 10px;
}

.nav-hover:hover {
    border-bottom: 2px solid #967878;
}

.logo {
  width: 90px;
  margin-left: 20px;
  margin-top: 20px;
  display: block;
}

.nav {
  display: inline-block;
  margin-left: 24px;
  margin-top: 10px;
  padding-right: 20px;
  font-weight: bold;
}

.nav2 {
  display: inline-block;
  margin-left: 24px;
  margin-top: 18px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #ffa6a6;
}

.container {
    width: 1260px;
    margin: 0 auto;
}

.container-inner {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn {
    text-transform: uppercase;
    background-color: #fff;
    color: #ff512f;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    font-weight: bolder;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    text-decoration: none;
    border-bottom: none;
}

.whitelink {
  color: white;
}

.back-link {
    color: #fff;
    margin-top: 40px;
}

.redbackground {
  background-color: #ff512f;
}

.whitetext {
  color: white;
}

.shoes {
  width: 634px;
  padding-top: 90px;
}

.footer {
  font-size: 10px;
}

.nav h3 {
  display: inline-block;
  margin-top: 10px;
}

.nav a  {
  margin-right: 20px;
}

.nav3{
  display: inline-block;
}

.nav3 a {
  display: inline-block;
  color: #ff512f;
  margin-top: 50px;
  border-bottom: 1px solid #ff512f;
}

.image-container {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: auto;
  padding-left: auto;
}

.price {
  float: left;
  padding-right: 20px;
}

.dashed-line {
  border-bottom: 2px dashed #967878;
  padding-bottom: 37px;
}

.reviews {
  color: #967878
}

.nav4 {
  margin-left: 24px;
  margin-top: 18px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #967878;
}

.nav4 a {
    display: inline-block;
}

.nav5 {
  display: inline-block;
  margin-left: 24px;
  margin-top: 18px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #967878;
}

.rec {
  background-color: #ffeeeb;
  color: #967878;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  text-align: center;

}
